a {
    text-decoration: none;
}
a:hover {
    color: pink;
}
h1.text-center{
    text-align: center;
}
body {
    font-family: Afacad Flux;
}
a:visited{
    color: darkgreen;
}
a:active{
    color: crimson;
}
a:visited:hover{
    color: darksalmon;
}
a:visited:active{
    color: brown;
}